<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ylw.dao.PhotosMapper" >
  <resultMap id="BaseResultMap" type="ylw.model.Photos" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="upload_date" property="uploadDate" jdbcType="DATE" />
    <result column="xc_id" property="xcId" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="ylw.model.PhotosWithBLOBs" extends="BaseResultMap" >
    <result column="pname" property="pname" jdbcType="LONGVARCHAR" />
    <result column="purl" property="purl" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, upload_date, xc_id, uid
  </sql>
  <sql id="Blob_Column_List" >
    pname, purl
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from yl_photos
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from yl_photos
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="ylw.model.PhotosWithBLOBs" >
    insert into yl_photos (id, upload_date, xc_id, 
      uid, pname, purl
      )
    values (#{id,jdbcType=INTEGER}, #{uploadDate,jdbcType=DATE}, #{xcId,jdbcType=INTEGER}, 
      #{uid,jdbcType=INTEGER}, #{pname,jdbcType=LONGVARCHAR}, #{purl,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="ylw.model.PhotosWithBLOBs" >
    insert into yl_photos
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uploadDate != null" >
        upload_date,
      </if>
      <if test="xcId != null" >
        xc_id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="pname != null" >
        pname,
      </if>
      <if test="purl != null" >
        purl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uploadDate != null" >
        #{uploadDate,jdbcType=DATE},
      </if>
      <if test="xcId != null" >
        #{xcId,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="pname != null" >
        #{pname,jdbcType=LONGVARCHAR},
      </if>
      <if test="purl != null" >
        #{purl,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ylw.model.PhotosWithBLOBs" >
    update yl_photos
    <set >
      <if test="uploadDate != null" >
        upload_date = #{uploadDate,jdbcType=DATE},
      </if>
      <if test="xcId != null" >
        xc_id = #{xcId,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="pname != null" >
        pname = #{pname,jdbcType=LONGVARCHAR},
      </if>
      <if test="purl != null" >
        purl = #{purl,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="ylw.model.PhotosWithBLOBs" >
    update yl_photos
    set upload_date = #{uploadDate,jdbcType=DATE},
      xc_id = #{xcId,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      pname = #{pname,jdbcType=LONGVARCHAR},
      purl = #{purl,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="ylw.model.Photos" >
    update yl_photos
    set upload_date = #{uploadDate,jdbcType=DATE},
      xc_id = #{xcId,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>