<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ylw.dao.TxlMapper" >
  <resultMap id="BaseResultMap" type="ylw.model.Txl" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="ylw.model.TxlWithBLOBs" extends="BaseResultMap" >
    <result column="uname" property="uname" jdbcType="LONGVARCHAR" />
    <result column="fphone" property="fphone" jdbcType="LONGVARCHAR" />
    <result column="fname" property="fname" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid
  </sql>
  <sql id="Blob_Column_List" >
    uname, fphone, fname
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from yl_txl
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from yl_txl
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="ylw.model.TxlWithBLOBs" >
    insert into yl_txl (id, uid, uname, 
      fphone, fname)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{uname,jdbcType=LONGVARCHAR}, 
      #{fphone,jdbcType=LONGVARCHAR}, #{fname,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="ylw.model.TxlWithBLOBs" >
    insert into yl_txl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="uname != null" >
        uname,
      </if>
      <if test="fphone != null" >
        fphone,
      </if>
      <if test="fname != null" >
        fname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="uname != null" >
        #{uname,jdbcType=LONGVARCHAR},
      </if>
      <if test="fphone != null" >
        #{fphone,jdbcType=LONGVARCHAR},
      </if>
      <if test="fname != null" >
        #{fname,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ylw.model.TxlWithBLOBs" >
    update yl_txl
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="uname != null" >
        uname = #{uname,jdbcType=LONGVARCHAR},
      </if>
      <if test="fphone != null" >
        fphone = #{fphone,jdbcType=LONGVARCHAR},
      </if>
      <if test="fname != null" >
        fname = #{fname,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="ylw.model.TxlWithBLOBs" >
    update yl_txl
    set uid = #{uid,jdbcType=INTEGER},
      uname = #{uname,jdbcType=LONGVARCHAR},
      fphone = #{fphone,jdbcType=LONGVARCHAR},
      fname = #{fname,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="ylw.model.Txl" >
    update yl_txl
    set uid = #{uid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>